
.post_header {
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 16px;
  border: 1px solid $gray10;
  .author_info {
    display: flex;
    align-items: center;
    .author_name {
      
      margin-left: 16px;
    }
  }
}
