
.meta_info {
  padding: 47px 26px;
  border-top: 1px solid $gray10;
  min-height: 240px;
  .meta_title {
    margin: 10px 0 8px;
    color: $cobalt;
    font-size: 16px;
    font-weight: 500;
  }
  .meta_description {
    color: $gray50;
    font-size: 12px;
  }
}
