.avatar {
  background-size: cover;
  background-position: center center;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  border-radius: 50%;
  &.big {
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
  }
  &.medium {
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
  }
  &.small {
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
  }
  &.extra-large {
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
  }
}
