
.post_container {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  &:first-child {
    .post_header {
      border-top: none;
    }
  }
  &:not(:first-child) {
    margin-top: 8px;
  }
  &:last-child {
    margin-bottom: 8px;
  }
  .post_image {
    height: 588px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
  }
}