.gradient_wrapper {
	border: double 2.5px transparent;
	border-radius: 50px;
	background-image: linear-gradient(white, white),
		linear-gradient(to bottom, #de0046, #f7a34b);
	background-origin: border-box;
	background-clip: content-box, border-box;
	width: fit-content;

	&.small {
		.image_with_border {
			width: 32px;
			height: 32px;
		}
	}

	.image_with_border {
		border-radius: 50%;
		border: 2.5px solid $white;
		height: 56px;
		width: 56px;
		background-position: center center;
		background-size: cover;
	}
}
