.preloader_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &.full {
    min-height: 100vh;
  }
  .bg_icon {
    position: absolute;
  }
  .preloader_icon {
    background-size: contain;
    background-position: center 73px;
    background-repeat: no-repeat;
    mask-image: url('@assets/icons/preloader/preloader-icon.svg');
    mask-size: 48px;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 96px;
    height: 96px;
    transition: background-position 3s linear;
    &.show {
      background-image: radial-gradient(1678.57% 204.35% at 50% -60.87%, #FDF497 25%, #FD5949 40.1%, #D6249F 54.17%, #285AEB 57.81%);
      background-position: center 24px;
    }
  }
}
