.search_input {
  height: 28px;
  width: 215px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  outline: none;
  padding: 0 4px;
  font-size: 14px;
  font-weight: 300;
  color: #8E8E8E;
}
.search_input_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  color: #8E8E8E;
  cursor: text;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease;
}