@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');
@import './variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }
  .bg-image-contain {
    @apply bg-contain bg-center bg-no-repeat
  }
}

#root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $dark;
  background: #F9F9F9;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.content {
  width: 928px;
  padding: 30px 0;
  height: 100%;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}
