

.post_footer {
  border: 1px solid $gray20;
  border-top: none;
  .post_info {
    padding: 16px;
    .likes_count, .author_name {
      
      font-weight: 600;
    }
    .show_all_comments_btn {
      color: $gray50;
      cursor: pointer;
    }
    .post_date {
      font-size: 10px;
      color: $gray50;
      text-transform: uppercase;
    }
    .description_container, .show_all_comments_btn, .post_date {
      margin-top: 4px;
    }
  }
}
